<html>
<head>

</head>
<body>
<p><b>Speech to text:</b><p>
    <p>Setning oversatt:  </p>
    <p>Resultat:  </p>
    <p>Setning oversatt:  </p>
    <p>Resultat:  </p>
    <p>Setning oversatt:  </p>
    <p>Resultat:  </p>
</body>
</html>
