<html>
<head>

</head>
<body>
<p><b>Speech to text:</b><p>
    <p>Setiningen vi sa: "Forelesningene på fredager begynner åtte tretti."</p>
    <p>Snorre:</p>
    <p>Kim:</p>
    <p>Jørgen T:</p>
    <p>Vebjørn:</p>
    <p>Judith:</p>
    <p>Jenny:</p>
    <p>Jørgen B:</p>
    <p>Jørgen K:</p>
</body>
</html>
