<html>
<head>

</head>
<body>
    <h2>Valutakurs for Bitcoin til Amerikansk dollar</h2>
    <p>Gjennomsnittlig siste 24t: ${{.Two4HAvg}} USD</p>
    <p>Salg: ${{.Ask}} USD</p>
    <p>Kjøp: ${{.Bid}} USD</p>
    <p>Siste kurs: ${{.Last}} USD</p>
    <p>Data hentet {{.Timestamp}}</p>
    <br>
    <footer><p><i>Made by</i></p>
    <h4>De Grønne Slakterne</h4></footer>
</body>
</html>